<nav class="navbar">
  <div>
    <h1 class="logo">De zoo movies</h1>
  </div>
  <div>
    <div class="search">
      <input class="search-input" type="text" placeholder="Search Movies">
    </div>
  </div>
  <ul class="links-container">
    <li class="links">
      <a class="links-content" href="/">Home</a>
    </li>
    <li class="links">
      <a class="links-content" href="/all-movies">All movies</a>
    </li>
    <li class="links">
      <a class="links-content" href="/">Tv shows</a>
    </li>
    <li class="links">
      <a class="links-content" href="/upload-movie-form">Upload movie</a>
    </li>
  </ul>
</nav>